* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat Alternates", sans-serif;
}

:root {
  --sidebar-width: 5rem;
  --padding: 0.95rem;
}

@media screen and (min-width: 992px) {
  :root {
    --sidebar-width: 18.5rem;
    --padding: 1.2rem;
  }
}

body {
  background-color: #fbfbfb !important;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  opacity: 0.8;
  cursor: no-drop;
}

svg {
  display: block;
  margin-bottom: 0;
}

.pointer {
  cursor: pointer;
}

.title-case::first-letter {
  text-transform: uppercase;
}

.title-case {
  text-transform: lowercase;
}

hr {
  height: 1px;
  border: none;
  background-color: #dddd;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.form-body {
  width: 90%;
  max-width: 25rem;
  margin: 3rem auto;
  gap: 1.5rem;
}

.form-container {
  border: 1px solid #ced5e5c6;
  background-color: #fff;
  width: 100%;
  border-radius: 10px;
}

.form-container button {
  width: 100%;
}

.form-container h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}

.form-container .intro {
  font-size: 0.83rem;
  text-align: center;
  margin-top: 0.85rem;
  margin-bottom: 1.6rem;
  color: #999;
  font-weight: 300;
  line-height: 205%;
}

.form-container .intro strong {
  font-weight: 450;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.form-group div {
  width: 100%;
}

.form-group label {
  font-weight: 500;
  color: #333;
  font-size: 0.9rem;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid #ced5e5c6;
  background-color: inherit;
  padding: 1.15rem 1.5rem;
  outline: none;
  border-radius: 9px;
  font-size: 0.85rem;
  font-weight: 450;
  width: 100%;
  transition: 0.2s ease-in-out all;
  color: inherit;
}

.form-group textarea {
  line-height: 160%;
  resize: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder,
.form-group select::placeholder {
  color: #aaa;
  font-weight: 400;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border: 1px solid rgba(128, 0, 128, 0.35);
}

.form-group .icon {
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: #888;
  cursor: pointer;
}

.form-group .copy {
  right: 0.3rem;
  background-color: #f6f6f6;
  border: 0.7px solid #ced5e5;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 80%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 6px;
  font-size: 1.05rem;
  font-weight: 500;
  cursor: pointer;
}

.or {
  gap: 0.5rem;
  font-weight: 300;
  color: #888;
}

.or hr {
  width: 100%;
}

.btn {
  background-color: purple;
  color: #fff;
  width: 100%;
  border: 1px solid purple;
  border-radius: 7px;
  padding: 1rem 1.5rem;
  font-size: 0.9rem;
  outline: none;
  font-weight: 500;
}

.btn.border {
  background-color: inherit;
  color: purple;
}

.btn.danger {
  background-color: crimson;
  border: 1px solid crimson;
}

.oauth-btn {
  border: 1px solid #ced5e5c6;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: 100%;
  justify-content: center;
  padding: 0.95rem 1rem;
  border-radius: 8px;
  font-size: 0.88rem;
  font-weight: 450;
  background-color: #fff;
  color: #777;
}

.form-body .extra {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.form-body .extra p {
  font-size: 0.9rem;
  color: #888;
}

.form-body .extra a {
  color: purple;
  font-size: 0.85rem;
  font-weight: 550;
  /* border-bottom: 1.5px solid purple; */
  padding: 0.4rem 0.3rem;
}

.loader-span {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  display: inline-block;
  border-top: 1.2px solid #fff;
  border-right: 1.2px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.link-in-form {
  color: purple;
  font-size: 0.85rem;
  font-weight: 400;
  text-align: end;
}

.sidebar {
  width: 95%;
  max-width: 20rem;
  background-color: purple;
  position: fixed;
  inset: 0;
  z-index: 99;
  overflow-y: auto;
  animation-name: slideIn;
  animation-duration: 0.4s;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
}

@keyframes slideIn {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-wrapper {
    width: calc(100vw - var(--sidebar-width));
    margin-left: var(--sidebar-width);
  }

  .sidebar {
    width: var(--sidebar-width);
    animation: unset;
    -webkit-animation: unset;
  }
}

.info-bar {
  background-color: #dce9ff;
  padding: 1rem;
  text-align: center;
  font-size: 0.85rem;
  color: rgb(27, 90, 115);
}

.info-bar > p,
.info-bar > p > span {
  gap: 0.4rem;
}

.info-bar .tag {
  background-color: rgba(135, 207, 235, 0.556);
  color: rgb(37, 110, 139);
  border: 1px solid rgb(62, 136, 165);
  font-weight: 500;
  font-size: 0.65rem;
  padding: 0.3rem 0.7rem;
  border-radius: 100px;
}

.info-bar a {
  color: dodgerblue;
  border-bottom: 1px solid dodgerblue;
  padding-bottom: 0.1rem;
  font-weight: 500;
}

.navbar {
  position: sticky;
  position: -webkit-sticky;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #ced5e56c;
  top: 0px;
  z-index: 8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem var(--padding);
  margin-bottom: 1.5rem;
}

main.body {
  padding-right: var(--padding);
  padding-left: var(--padding);
  padding-top: 0.6rem;
}

.navbar .brand {
  gap: 0.8rem;
}

.navbar .profile-circle {
  background-color: rgba(135, 207, 235, 0.05);
  border: 1px solid #dddd;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: 600;
  border-radius: 50%;
  transition: 0.1s ease-in-out all;
}

.navbar .profile-circle a {
  color: #000;
}

.navbar .profile-circle:hover {
  border: 1px solid blue;
  color: blue;
}

.navbar .nav-right {
  gap: 0.9rem;
}

.navbar .github {
  gap: 0.4rem;
  color: #000;
  font-weight: 500;
}

.navbar .nav-search input {
  width: 18rem;
  border: 0.9px solid #ddddddf4;
  padding: 0.9rem 3rem;
  outline: none;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: 0.3 ease-in-out all;
}

.navbar .nav-search input:focus {
  border: 0.9px solid rgba(128, 0, 128, 0.7);
}

.navbar .nav-search .search {
  left: 0.95rem;
  top: 50%;
  opacity: 0.4;
  transform: translateY(-50%);
}

.navbar .nav-search .slash {
  right: 0.7rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(135, 207, 235, 0.1);
  border: 1px solid #ddddddd4;
  padding: 0.25rem;
  border-radius: 7px;
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: 89;
  background-color: rgb(0 0 0 / 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
}

.sidebar-content {
  padding: 1rem 0.85rem;
  padding-bottom: 3rem;
  color: #fff;
}

.sidebar .brand {
  font-size: 2.2rem;
  font-weight: 300;
  gap: 0.2rem;
}

.sidebar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.sidebar ul li {
  border-radius: 8px;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  border-radius: 8px;
  font-weight: 400;
}

.sidebar ul li.active {
  background-color: rgb(155, 65, 155);
}

.sidebar ul li svg {
  font-size: 1.3rem;
  stroke-width: 2;
}

.sidebar ul li span {
  font-size: 0.95rem;
  color: #ffffffb1;
}

.sidebar ul li.active span {
  font-weight: 500;
  color: #fff;
}

.sidebar ul li.active svg {
  color: rgb(233, 203, 207);
}

.sidebar ul li a span:hover {
  color: #fff !important;
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sidebar ul {
    gap: 0.5rem;
  }

  .sidebar ul li a {
    justify-content: center;
  }

  .sidebar ul li svg {
    font-size: 1.4rem;
  }
}

.sidebar .info {
  background-color: rgba(155, 65, 155, 0.409);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.sidebar .info h4 {
  font-weight: 500;
}

.sidebar .info p {
  font-size: 0.9rem;
  opacity: 0.7;
}

.page-title {
  font-size: calc(1vw + 1.35rem);
  font-weight: 550;
  text-align: center;
}

.card {
  border: 1px solid #ced5e5c6;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 20px -20px;
}

.card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card .header h4 {
  font-weight: 450;
  font-size: 0.93rem;
}

.card .header p {
  font-size: 0.8rem;
  color: #888;
  font-weight: 300;
}

.card select {
  width: max-content;
  padding: 0.85rem 0.8rem;
  border-radius: 6px;
  border: 0.8px solid #ccc;
  color: "#000";
  background-color: inherit;
  cursor: pointer;
  outline: none;
  font-size: 0.75rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='20' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: 50%;
  padding-right: 1.4rem !important;
  cursor: pointer;
}

.form-group select {
  background-position-x: 97%;
}

.card .body {
  height: 15rem;
}

.error-div {
  width: 100%;
  max-width: 25rem;
  margin: 0% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9rem;
}

.error-div svg {
  margin-bottom: 0.75rem;
}

.error-div h3 {
  font-size: 1.65rem;
  font-weight: 500;
}

.error-div p {
  font-size: 0.95rem;
  color: #999;
  margin-bottom: 1.1rem;
  line-height: 185%;
}

.error-div p a {
  color: blue;
  border-bottom: 1px solid blue;
}

.error-div button {
  width: 100%;
  max-width: 10rem;
}

.blue {
  background-color: dodgerblue;
  border: none;
}

.modal-dialog {
  position: fixed;
  inset: 0;
  z-index: 999;
  background-color: rgb(0 0 0 / 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 3.5rem 0;
}

.modal-dialog .modal-box {
  background-color: #fff;
  width: 94%;
  height: max-content;
  margin: 0% auto;
  max-width: 50rem;
  border-radius: 9px;
  padding: 2.5rem 1.6rem;
  position: relative;
  animation-name: fromTop;
  animation-duration: 0.4s;
  -webkit-animation-name: fromTop;
  -webkit-animation-duration: 0.4s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal-dialog .modal-box.md {
  max-width: 30rem;
}

@keyframes fromTop {
  from {
    top: -300px;
  }
  to {
    top: 0;
  }
}

.register-app h2 {
  text-align: center;
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .access-integrations {
    border-left: 1px solid #eee;
    height: 100%;
  }
}

.register-app .access-integrations h4 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.1rem;
  font-weight: 500;
  border-bottom: 1px solid #000;
  padding: 0.15rem 0rem;
  width: max-content;
}

.tags-input .title p {
  font-size: 0.85rem;
  font-weight: 400;
}

.tags-input .title > div {
  border: 1.5px solid dodgerblue;
  border-radius: 50%;
  padding: 0.1rem;
  color: dodgerblue;
  cursor: pointer;
}

.tags-input .title > div:hover {
  background-color: #eeeeee89;
}

.tags-input .inputs-container {
  gap: 0.5rem;
}

.tags-input .inputs {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #ced5e5c6;
  border-radius: 8px;
  padding: 0.3rem 1rem;
}

.tags-input .inputs input {
  width: 100%;
  align-items: center;
  border: none;
  border-bottom: 1px solid #ced5e5c6;
  border-radius: 0px;
  padding: 0.85rem 0.5rem;
  font-size: 0.8rem;
  outline: none;
  transition: 0.2s ease-in-out all;
  font-weight: 450;
  margin-bottom: 0.45rem;
}

.tags-input .inputs input::placeholder {
  color: #aaa;
  font-weight: 400;
}

.tags-input .inputs input:focus {
  border-bottom: 1px solid rgba(128, 0, 128, 0.35);
}

.tags-input .icon {
  cursor: pointer;
}

.tags-input .icon.disabled {
  opacity: 0.35;
  cursor: no-drop;
}

.learn-more {
  color: blue;
  border-bottom: 0.95px solid blue;
  padding: 0.1rem 0;
  width: max-content;
  font-size: 0.8rem;
}

.table-top {
  gap: 0.7rem;
}

.table-top button {
  width: 100%;
  max-width: 9.6rem;
}

.table-top .search {
  min-width: 13rem;
  width: 100%;
  max-width: 20rem;
}

.table-top .search input {
  border: 1px solid #ced5e5c6;
  border-radius: 7px;
  background-color: inherit;
  outline: none;
  font-size: 0.85rem;
  width: 100%;
  padding: 1.05rem 1.15rem;
  padding-left: 2.5rem;
}

.table-top .search input::placeholder {
  color: #aaa;
  font-weight: 400;
}

.table-top .search input:focus {
  border: 1px solid rgba(128, 0, 128, 0.35);
}

.table-top .search svg {
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  font-size: 1.15rem;
  color: #ccc;
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 0.1rem;
}

.table-responsive th,
.table-responsive td {
  padding: 0.9rem;
  white-space: nowrap;
  border: 1px solid #ced5e5c6;
}

.table-responsive tr {
  border-bottom: 1px solid #ced5e5c6;
  justify-content: flex-start;
  vertical-align: top;
  transition: 0.3s ease-in-out all;
}

.table-responsive tr:hover {
  background-color: #ced5e51f;
}

.table-responsive th {
  font-weight: 700;
  font-size: 0.9rem;
  text-align: start;
  color: purple;
}

.table-responsive td {
  font-size: 0.9rem;
  font-weight: 400;
}

.table-responsive .masked-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.table-responsive .masked-field p {
  border: 1px dashed #ced5e5;
  width: max-content;
  padding: 0.2rem 0.45rem;
  background-color: #fff;
  border-radius: 0px;
  color: #555;
  font-size: 0.8rem;
  font-weight: 300;
  letter-spacing: 0.4px;
}

.table-responsive .masked-field > div {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  font-size: 0.95rem;
  border: 1px solid #ced5e5c6;
  width: max-content;
  padding: 0.6rem 0.7rem;
  border-radius: 5px;
}

.table-responsive .masked-field > div svg {
  cursor: pointer;
}

.table-responsive button {
  background-color: #ced5e54c;
  border: 1px solid #ced5e5c6;
  color: #000;
  display: flex;
  align-items: center;
  outline: none;
  padding: 0.9rem 0.9rem;
  border-radius: 7px;
  gap: 0.5rem;
  font-size: 0.85rem;
  font-weight: 500;
  font-size: 0.85rem;
}

.table-responsive button svg {
  font-size: 1.1rem;
}

.pagination {
  gap: 1.5rem;
  padding: 1rem 0;
}

.pagination .first {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  gap: 0.8rem;
}

.pagination select {
  border: 1px solid #ced5e5c6;
  padding: 0.6rem 0.9rem;
  outline: none;
  font-size: 0.85rem;
  font-weight: 400;
  border-radius: 8px;
  color: #000;
}

.pagination .paging {
  font-size: 0.9rem;
  color: #555;
}

.pagination .chevron {
  gap: 0.5rem;
}

.pagination .chevron > div {
  font-size: 1.4rem;
  cursor: pointer;
}

.pagination .chevron > div.disabled {
  opacity: 0.5;
  cursor: no-drop;
}

.pagination .chevron svg {
  stroke-width: 1.5;
}

.app-details h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.accordion {
  border: 1.5px solid #ced5e5c6;
  border-radius: 10px;
}

.accordion-header {
  background-color: inherit;
  border-bottom: 1px solid #ced5e5c6;
  border-top: 1px solid #ced5e5c6;
  padding: 1.3rem 1.3rem;
  border-radius: 0px;
  cursor: pointer;
}

.accordion .single-accordion:first-child .accordion-header {
  border-top: none;
}

.accordion .single-accordion:last-child .accordion-header {
  border-bottom: none;
}

.accordion-header.active {
  background-color: #ced5e53f;
}

.accordion-header h4 {
  font-weight: 500;
  font-size: 0.9rem;
}

.accordion-header.active h4 {
  font-weight: 600;
}

.accordion-item {
  padding: 2rem 1.4rem;
}

.address-w-b {
  width: 100%;
  gap: 1rem;
}

.address-w-b:first-child {
  margin-bottom: 1.3rem;
}

.address-w-b > div:last-child {
  width: 100%;
}

.address-w-b h4 {
  font-size: 0.9rem;
  font-weight: 600;
}

.single-app-title .back {
  color: #aaa;
  gap: 0.5rem;
  width: max-content;
  align-items: center;
}

.single-app-title > div.d-flex {
  gap: 0.8rem;
}

.single-app-title .back span {
  border-bottom: 1.5px solid #aaa;
  padding: 0.2rem 0;
}

.single-app-title h2 {
  font-size: 2rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

.single-app-title .buttons {
  gap: 0.5rem;
}

.single-app-title .buttons button {
  display: flex;
  gap: 0.6rem;
  border: 1px solid #ced5e5c6;
  background-color: #fff;
  padding: 0.8rem 0.9rem;
  font-size: 0.85rem;
  border-radius: 6px;
  font-weight: 500;
  color: #000;
  outline: none;
}

.single-app-title .buttons button span {
  padding-right: 0.15rem;
}

.single-app-title .buttons button svg {
  font-size: 1rem;
}

.keys h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.keys .docs {
  width: 100%;
  max-width: 40rem;
  padding: 1rem 0;
}

.keys .docs h3 {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.keys .docs svg {
  font-size: 2.5rem;
  stroke: goldenrod;
  stroke-width: 1;
}

.keys .docs p {
  font-size: 0.95rem;
  line-height: 200%;
}

.keys .docs code {
  border: 1px solid #ced5e5;
  background-color: #ced5e51f;
  white-space: nowrap !important;
  word-break: keep-all;
  padding: 0.13rem 0.15rem;
  font-size: 0.85rem;
  border-radius: 0px;
  letter-spacing: 0.4px;
}

.h-100 {
  height: 100%;
}

.metrics-box {
  border: 1px solid #ced5e594;
  padding: 2.3rem 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  background-color: #fff;
  height: 100%;
}

.metrics-box p {
  font-size: 0.85rem;
  font-weight: 400;
  color: #888;
  line-height: 170%;
}

.metrics-box h3 {
  font-size: 3.3rem;
  font-weight: 600;
}

.metrics-box h3 span {
  color: #aaa;
  font-weight: 400;
  font-size: 1.4rem;
}

.profile-card {
  background-color: #ffffffb7;
  border: 1px solid #ced5e5;
  border-radius: 10px;
  padding: 1.8rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.profile-card .single-info {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.profile-card .single-info p {
  font-size: 0.85rem;
  color: #888;
}

.profile-card .single-info > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem;
  gap: 1rem;
}

.profile-card .single-info > div h4 {
  font-weight: 500;
  font-size: 0.9rem;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-card .single-info > div .icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  font-size: 1.2rem;
}

.profile-card .single-info > div .icons svg {
  stroke-width: 1.8;
}

.profile-card .single-info > div .icons a {
  border: 1px solid #ced5e5ad;
  padding: 0.55rem;
  border-radius: 5px;
  transition: 0.15s ease-in-out all;
}

.profile-card .single-info > div .icons a.warning,
.profile-card .single-info > div .icons a.warning:hover {
  border: none;
  padding: 0;
}

.profile-card .single-info > div .icons a:hover {
  border: 1px solid blue;
  color: blue;
}

.text-center {
  text-align: center;
}

.verify-form-modal {
  width: 100%;
  max-width: 25rem;
}

.verify-form-modal p {
  font-size: 0.8rem;
}

.doodles-bg {
  background-color: #fff;
  border: 0.85px solid #ced5e5;
  background-image: url("/doodles.svg");
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.complete-onboarding {
  border: 1px solid #ced5e5bc;
  background-color: rgba(218, 165, 32, 0.03);
  padding: 2.5rem 1.5rem;
  border-radius: 10px;
}

.complete-onboarding h3 {
  font-size: 1.35rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.7rem;
  color: crimson;
}

.complete-onboarding h3 span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.complete-onboarding h3 svg {
  font-size: 1.8rem;
}

.complete-onboarding .email-verify {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.complete-onboarding .email-verify p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.35rem;
}

.complete-onboarding .email-verify > div {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  justify-content: space-between;
}

.complete-onboarding .email-verify > div > div {
  width: 100%;
}

.complete-onboarding .email-verify > div h4 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 0.85rem;
  color: #999999dd;
}

.complete-onboarding .email-verify > div button {
  border: 1.5px solid crimson;
  padding: 0.75rem 1.25rem;
  border-radius: 8px;
  background-color: #fff;
  color: crimson;
  font-size: 0.85rem;
  font-weight: 600;
}

.complete-onboarding .email-verify > div button.verified-true {
  border: 1.5px solid green;
  color: green;
}

.libs {
  border-top: 1px solid #ced5e5;
}

.libs > h3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 2rem;
  margin: 2.5rem 0;
  font-weight: 500;
  justify-content: center;
}

.libs > h3 span {
  border-bottom: 2.5px solid #000;
  padding: 0.1rem 0;
}

.single-lib {
  border: 1px solid #ced5e5aa;
  height: 100%;
  padding: 2rem 1.5rem;
  gap: 1.4rem;
  border-radius: 10px;
}

.single-lib h4 {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.single-lib span.pill {
  background-color: rgba(30, 143, 255, 0.08);
  border: 1px solid dodgerblue;
  color: dodgerblue;
  font-weight: 600;
  font-size: 0.7rem;
  padding: 0.35rem 0.75rem;
  border-radius: 100px;
  display: block;
  margin-bottom: 0.5rem;
  width: max-content;
}

.single-lib p.text {
  font-size: 0.85rem;
  line-height: 200%;
  font-weight: 400;
  color: #555;
  margin-top: 1rem;
}

.single-lib p.platform {
  width: max-content;
  padding: 1rem 0;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
}

.single-lib p.platform strong {
  font-weight: 600;
}

.single-lib p.platform span {
  border-bottom: 1.5px solid purple;
  color: purple;
  font-weight: 600;
  padding: 0.15rem 0.05rem;
  font-size: 0.7rem;
}

.single-lib a {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  font-size: 0.85rem;
  margin-top: 1rem;
  color: blue;
  font-weight: 500;
  transition: 0.2s ease-in-out all;
}

.single-lib a:hover {
  gap: 0.5rem;
}

.w-100 {
  width: 100%;
}

.pre-verify h3 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
  line-height: 150%;
  margin-bottom: 0.5rem;
}

.pre-verify p {
  font-size: 0.9rem;
  line-height: 200%;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 25rem;
  margin-bottom: 2rem;
  color: #888;
}

.pre-verify p strong {
  font-weight: 500;
  color: #000;
}

.middleware-loader {
  overflow: hidden;
}

.middleware-loader svg {
  animation: zoom 2.5s;
  animation-iteration-count: infinite;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

.extra-box {
  background-color: #fff;
  border: 1px solid #ced5e594;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.55rem;
  padding: 2rem 0;
  margin-bottom: 1.8rem;
}

footer h4 {
  font-weight: 400;
  color: #999;
  font-size: 0.95rem;
}

footer h4 strong {
  font-weight: 400;
  /* color: #555; */
}

footer p {
  font-weight: 300;
  font-size: 0.85rem;
  color: #999;
}

footer p a {
  font-weight: 500;
  color: blue;
  border-bottom: 1px solid blue;
}

.loader-svg {
  max-width: 7rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

.loader-svg circle {
  fill: none;
  stroke-width: 3.5;
  animation-name: preloader;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  transform-origin: 170px 170px;
  will-change: transform;
}

.loader-svg circle:nth-of-type(1) {
  stroke-dasharray: 550px;
}

.loader-svg circle:nth-of-type(2) {
  stroke-dasharray: 500px;
}

.loader-svg circle:nth-of-type(3) {
  stroke-dasharray: 450px;
}

.loader-svg circle:nth-of-type(4) {
  stroke-dasharray: 300px;
}

.loader-svg circle:nth-of-type(1) {
  animation-delay: -0.15s;
}

.loader-svg circle:nth-of-type(2) {
  animation-delay: -0.3s;
}

.loader-svg circle:nth-of-type(3) {
  animation-delay: -0.45s;
}

.loader-svg circle:nth-of-type(4) {
  animation-delay: -0.6s;
}

@keyframes preloader {
  50% {
    transform: rotate(360deg);
  }
}

.methods-box {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.methods-box .single-method {
  border: 1px solid #ced5e5;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.methods-box .single-method.active {
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.methods-box .single-method.active span {
  color: dodgerblue;
}

.methods-box .single-method span {
  font-size: 0.95rem;
  font-weight: 500;
  color: #555;
}

.methods-box .single-method svg {
  font-size: 1.2rem;
}

.methods-box h4 {
  font-weight: 600;
}

.methods-box p.intro {
  font-size: 0.7rem;
  line-height: 160%;
  font-weight: 400;
  color: #aaa;
}

.sandbox-options {
  border: 1px solid #ced5e5;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
}

.sandbox-options .footer {
  border-top: 1px solid #ced5e5;
  padding: 1rem 1.15rem;
}

.sandbox-options .footer .status {
  gap: 0.4rem;
}

.sandbox-options .footer .status span {
  width: 0.5rem;
  display: block;
  margin-bottom: 0;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #ddd;
}

.sandbox-options .footer .status span.red {
  background-color: crimson;
}

.sandbox-options .footer .status span.green {
  background-color: green;
}

.sandbox-options .footer .status p {
  margin-bottom: 0;
  font-size: 0.8rem;
  text-transform: lowercase;
  font-weight: 500;
  border-bottom: 1px solid #000;
  padding: 0.1rem;
}

.sandbox-options .footer .c-and-a {
  gap: 0.65rem;
}

.sandbox-options .footer .c-and-a > div {
  gap: 0.25rem;
}

.sandbox-options .footer .c-and-a > div p {
  color: #999;
  font-size: 0.75rem;
}

.sandbox-options .footer .c-and-a > div p strong {
  font-weight: 500;
  color: #555;
}

.sandbox-options .footer .c-and-a > div svg {
  font-size: 0.95rem;
  stroke-width: 1.8;
}

.sandbox-options .connect-wallet {
  width: 90%;
  max-width: 20rem;
  margin: 0% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 6rem;
}

.sandbox-options .connect-wallet h2 {
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.sandbox-options .connect-wallet p {
  font-size: 0.9rem;
  line-height: 200%;
  margin-bottom: 1.3rem;
  color: #888;
}

.sandbox-options .connect-wallet button {
  width: 11rem;
}

.sandbox-response {
  background-color: #fff;
  border: 1px solid #ced5e5;
  height: 100%;
  border-radius: 10px;
}

.sandbox-response .header {
  background-color: #ced5e544;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.95rem 1.3rem;
  border-bottom: 1px solid #ced5e5;
}

.sandbox-response .header h3 {
  font-weight: 500;
  font-size: 1rem;
}

.sandbox-response .header > div {
  border: 1px solid #ced5e5;
  font-size: 1.2rem;
  padding: 0.45rem;
  border-radius: 6px;
  cursor: pointer;
}

.sandbox-response .header svg {
  stroke-width: 1.8;
}

.sandbox-response .body {
  padding: 1.5rem 1.3rem;
  font-size: 0.9rem;
}
